* {
    margin: 0px;
    padding: 0px;
}

body {
    overflow-x: hidden;
    height: 750px;
}

.main {
    position: relative;
    left: 5px;
}

/* header */
.header {
    background-image: url("");
}

.header img {
    width: 250px;
    position: relative;
    top: 50px;
    left: 380px;
}

.header h1 {
    position: relative;
    top: 50px;
    left: 280px;
    font-family: 'Roboto', sans-serif;
}

.header p {
    position: relative;
    top: 50px;
    left: 390px;
}

#hr1 {
    position: relative;
    top: 50px;
}

/* form */
.form form {
    position: relative;
    top: 70px;
}

.form label {
    color: blue;
    position: relative;
    left: 100px;
}

.form input {
    position: relative;
    left: 100px;
    width: 400px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid rgb(183, 199, 183);
}

.form input::placeholder {
    position: relative;
    left: 10px;
}

/* form1 */
.form1 form {
    position: relative;
    top: 70px;
}

.form1 label {
    color: blue;
}

.form1 input {
    position: relative;
    width: 400px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid rgb(183, 199, 183);
}

.form1 input::placeholder {
    position: relative;
    left: 10px;
}

/* form2 */
.form2 form {
    position: relative;
    top: 90px;
}

.form2 label {
    color: blue;
    position: relative;
    left: 100px;
}

.form2 input {
    position: relative;
    left: 100px;
    width: 400px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid rgb(183, 199, 183);
}

.form2 input::placeholder {
    position: relative;
    left: 10px;
}

/* form3 */
.form3 form {
    position: relative;
    top: 90px;
}

.form3 label {
    color: blue;
}

.form3 input {
    position: relative;
    width: 400px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid rgb(183, 199, 183);
}

.form3 input::placeholder {
    position: relative;
    left: 10px;
}

/* form4 */
.form4 form {
    position: relative;
    top: 110px;
}

.form4 label {
    color: blue;
    position: relative;
    left: 100px;
}

.form4 input {
    position: relative;
    left: 100px;
    width: 400px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid rgb(183, 199, 183);
}

.form4 input::placeholder {
    position: relative;
    left: 10px;
}

/* form5 */
.form5 form {
    position: relative;
    top: 110px;
}

.form5 label {
    color: blue;
}

.form5 input {
    position: relative;
    width: 400px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid rgb(183, 199, 183);
}

/* form6 */
.form6 form {
    position: relative;
    top: 130px;
}

.form6 label {
    color: blue;
    position: relative;
    left: 100px;
}

.form6 textarea {
    position: relative;
    left: 100px;
    width: 870px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid rgb(183, 199, 183);
}

.form6 textarea::placeholder {
    padding-left: 10px;
}

.button button {
    position: relative;
    top: 150px;
    left: 100px;
    width: 870px;
}

/* validation */
#span {
    position: relative;
    top: 0px;
    left: 100px;
    color: red;
}

#span1 {
    color: red;
}

#span2 {
    position: relative;
    top: 0px;
    left: 100px;
    color: red;
}

#span3 {
    color: red;
}

#span4 {
    position: relative;
    top: 0px;
    left: 100px;
    color: red;
}

#span5 {
    color: red;
}

#span6 {
    position: relative;
    top: 0px;
    left: 100px;
    color: red;
}