* {
    margin: 0px;
    padding: 0px;
}

body {
    overflow-x: hidden;
    height: 750px;
}

.main {
    position: relative;
    left: 5px;
}

/* header */
.header {
    background-image: url("");
}

.header img {
    width: 250px;
    position: relative;
    top: 50px;
    left: 380px;
}

.header h1 {
    position: relative;
    top: 50px;
    left: 280px;
    font-family: 'Roboto', sans-serif;
}

.header p {
    position: relative;
    top: 50px;
    left: 390px;
}

#hr1 {
    position: relative;
    top: 50px;
}

/* form */
.form form {
    position: relative;
    top: 70px;
}

.form label {
    color: blue;
    position: relative;
    left: 100px;
}

.form input {
    position: relative;
    left: 100px;
    width: 400px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid rgb(183, 199, 183);
}

.form input::placeholder {
    position: relative;
    left: 10px;
}

/* form1 */
.form1 form {
    position: relative;
    top: 70px;
}

.form1 label {
    color: blue;
}

.form1 input {
    position: relative;
    width: 400px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid rgb(183, 199, 183);
}

.form1 input::placeholder {
    position: relative;
    left: 10px;
}

/* form2 */
.form2 form {
    position: relative;
    top: 90px;
}

.form2 label {
    color: blue;
    position: relative;
    left: 100px;
}

.form2 input {
    position: relative;
    left: 100px;
    width: 400px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid rgb(183, 199, 183);
}

.form2 input::placeholder {
    position: relative;
    left: 10px;
}

/* form3 */
.form3 form {
    position: relative;
    top: 90px;
}

.form3 label {
    color: blue;
}

.form3 input {
    position: relative;
    width: 400px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid rgb(183, 199, 183);
}

.form3 input::placeholder {
    position: relative;
    left: 10px;
}

/* form4 */
.form4 form {
    position: relative;
    top: 110px;
}

.form4 label {
    color: blue;
    position: relative;
    left: 100px;
}

.form4 input {
    position: relative;
    left: 100px;
    width: 400px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid rgb(183, 199, 183);
}

.form4 input::placeholder {
    position: relative;
    left: 10px;
}

/* form5 */
.form5 form {
    position: relative;
    top: 110px;
}

.form5 label {
    color: blue;
}

.form5 input {
    position: relative;
    width: 400px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid rgb(183, 199, 183);
}

/* form6 */
.form6 form {
    position: relative;
    top: 130px;
}

.form6 label {
    color: blue;
    position: relative;
    left: 100px;
}

.form6 textarea {
    position: relative;
    left: 100px;
    width: 870px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid rgb(183, 199, 183);
}

.form6 textarea::placeholder {
    padding-left: 10px;
}

.button button {
    position: relative;
    top: 150px;
    left: 100px;
    width: 870px;
}

/* validation */
#span {
    position: relative;
    top: 0px;
    left: 100px;
    color: red;
}

#span1 {
    color: red;
}

#span2 {
    position: relative;
    top: 0px;
    left: 100px;
    color: red;
}

#span3 {
    color: red;
}

#span4 {
    position: relative;
    top: 0px;
    left: 100px;
    color: red;
}

#span5 {
    color: red;
}

#span6 {
    position: relative;
    top: 0px;
    left: 100px;
    color: red;
}


/* submit.html */
#qadeer {
    overflow: hidden;
}

.main23 {
    background-color: #4267B2 !important;
    height: 660px;
}

.submit23 {
    background-color: white;
    position: relative;
    top: 100px;
    left: 220px;
    width: 580px;
    height: 390px;
    border-radius: 10px;
}

.submit23 i {
    font-size: 140px;
    position: relative;
    top: 20px;
    left: 218px;
    color: #34B7F1;
}

#heading1 {
    font-family: 'Roboto', sans-serif;
    position: relative;
    top: 40px;
    left: 188px;
    color: #3f729b;
}

.submit23 h3 {
    font-family: 'Baloo Bhai 2', cursive;
    position: relative;
    top: 20px;
    left: 70px;
    color: #3f729b;
}

.submit23 h4 {
    font-family: 'Baloo Bhai 2', cursive;
    position: relative;
    left: 180px;
}

.submit23 h4 a {
    text-decoration: none;
    position: relative;
    left: 50px;
}

.submit23 h4 a:hover {
    text-decoration: underline;
}

.iron {
    position: relative;
    left: -5px;
}


/* local html */
.table {
    background-color: #4267B2 !important;
    overflow-x: hidden;
    overflow-y: hidden;
}

h1 {
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin-bottom: 15px;
}

table {
    width: 100%;
    table-layout: fixed;
}

.tbl-header {
    background-color: rgba(255, 255, 255, 0.3);
}

.tbl-content {
    height: 300px;
    overflow-x: auto;
    margin-top: 0px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

th {
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
}

td {
    padding: 15px;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 12px;
    color: #fff;
    border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}


/* demo styles */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

body {
    background: -webkit-linear-gradient(left, #25c481, #25b7c4);
    background: linear-gradient(to right, #25c481, #25b7c4);
    font-family: 'Roboto', sans-serif;
}

section {
    margin: 50px;
}


/* follow me template */
.made-with-love {
    margin-top: 40px;
    padding: 10px;
    clear: left;
    text-align: center;
    font-size: 10px;
    font-family: arial;
    color: #fff;
}

.made-with-love i {
    font-style: normal;
    color: #F50057;
    font-size: 14px;
    position: relative;
    top: 2px;
}

.made-with-love a {
    color: #fff;
    text-decoration: none;
}

.made-with-love a:hover {
    text-decoration: underline;
}


/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}